doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login
section
  h2 Password Recovery
  p Please check your Email and follow the instructions to recover your password
