doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Password Recovery
section
  h2 Password Recovery
  p Enter your email.
  .alert
  form.login(action='/forgotPassword' method='POST')
    .form-group
      label(for='email') Email
      input(type='text' name='email' placeholder='Email')
    input(type='submit' value='Reset Password')
