doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login
section
  h2 Admin Login
  p Enter your Email and Password
  .alert= info ? info.message : ''
  form.login(action='/session/login' method='POST')
    .form-group
      label(for='email') Email
      input(type='text' name='email' placeholder='Email')
    .form-group
      label(for='password') Password
      input(type='password' name='password' placeholder='Password')
    .form-group
      a(href='/forgotPassword') Forgot Password?
    input(type='submit' value='Login')
