doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Password Recovery
section
  h2 Password Recovery
  p Enter the new password and the confirmation.
  .alert
  form.login(action='/resetPassword' method='POST')
    .form-group
      label(for='password') New Password
      input(type='password' name='password' placeholder='**********')
    .form-group
      label(for='email') Enter your new password again.
      input(type='password' name='password' placeholder='**********')
    input(type='submit' value='Reset Password')
