extends ../layout

block content
  a(href='/bycicles') Back
  form(action='/bycicles/create' method='POST')
    div
      label(for='id') ID
      input(type='text' name='id')
    div
      label(for='color') Color
      input(type='text' name='color')
    div
      label(for='model') Model
      input(type='text' name='model')
    div
      label(for='latitude') Latitude
      input(type='text' name='latitude')
    div
      label(for='longitude') Longitude
      input(type='text' name='longitude')
    input.btn(type='submit' value='Save')
