extends ../layout

block content
  a(href='bycicles/create') Create New Bycicle
  table.table
    thead
      tr
        th($scope='col') #
        th($scope='col') Color
        th($scope='col') Model
        th($scope='col') Location
    tbody
      each bycicle in bycicles
        tr
          td($scope='row')= bycicle.code
          td= bycicle.color
          td= bycicle.model
          td= bycicle.location
          td
            a(href='bycicles/'+ bycicle.code +'/update') Edit
          td
            form.inline(method='POST' action='bycicles/delete')
              input(type='hidden' name='id' value=bycicle.code)
              button.link-button(type='submit' name='submit_delete' value='submit_delete') Delete