extends ../layout

block content
  a(href='/bycicles') Back
  form(action=`/bycicles/update` method='POST')
    div
      label(for='id') ID
      input(type='hidden' name='id' value=bycicle.code)
      p= bycicle.code
    div
      label(for='color') Color
      input(type='text' name='color', value=bycicle.color)
    div
      label(for='model') Model
      input(type='text' name='model' value=bycicle.model)
    div
      label(for='latitude') Latitude
      input(type='text' name='latitude' value=bycicle.location[0])
    div
      label(for='longitude') Longitude
      input(type='text' name='longitude' value=bycicle.location[1])
    input.btn(type='submit' value='Save')
