extends ../layout

block content
  h1 Register

  form(action='/users/create/' method='post')
    .form-group
      label(for='name') Name:
      input#name(type='text' name='name' value= user.name class=errors.name ? 'is-invalid': '')
      if errors.name
        small.text-danger=errors.name.message
    .form-group
      label(for='email') Email:
      input#email(type='text' name='email' value= user.email class=errors.email ? 'is-invalid': '')
      if errors.email
        small.text-danger=errors.email.message
    .form-group
      label(for='password') Password:
      input#password(type='password' name='password' value= user.password class=errors.password ? 'is-invalid': '')
      if errors.password
        small.text-danger=errors.password.message
    .form-group
      label(for='confirm_password') Confirm Password:
      input#confirm_password(type='password' name='confirm_password' value= user.confirm_password class=errors.confirm_password ? 'is-invalid': '')
      if errors.confirm_password
        small.text-danger=errors.confirm_password.message
    input#save(type='submit' name='save' value='save')
