extends ../layout

block content
  a(href='/users/create/') Create New User
  table.table
    thead
      tr
        th($scope='col') #
        th($scope='col') Name
        th($scope='col') Email
        th($scope='col') Verified
    tbody
      each user in users
        tr
          td($scope='row')= user.id
          td= user.name
          td= user.email
          td= user.verified ? 'Yes' : 'No'
          td
            a(href='users/'+ user.id +'/update') Edit
          td
            form.inline(method='POST' action='users/delete')
              input(type='hidden' name='id' value=user.id)
              button.link-button(type='submit' name='submit_delete' value='submit_delete') Delete