extends ../layout

block content
  h1 Update User
  form(action=`/users/update` method='POST')
    .form-group
      label(for='name') Name:
      input#name(type='text' name='name' value= user.name class=errors.name ? 'is-invalid': '')
      input(type='hidden' name='id' value=user.id)
      if errors.name
        small.text-danger =errors.name.message
    input#save(type='submit' name='save' value='save')
